html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: background 1s ease-in-out;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .hands {
            display: flex;
            position: absolute;
            width: 200px;
            height: 200px;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            .minHand {
                position: absolute;
                background-image: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 50%);
                width: 100px;
                height: 2px;
                transform: rotate(0deg);
                animation: rotate 5s linear infinite;
            }

            .secHand {
                position: absolute;
                background-image: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 50%);
                width: 50px;
                height: 2px;
                transform: rotate(90deg);
                animation: rotate 60s linear infinite;
            }

            .dot {
                background-color: red;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                z-index: 999;
            }
        }

        img {
            width: 200px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(103, 103, 103);
        width: 350px;
        height: auto;
        border-radius: 10px;
        padding: 10px;

        .timePanel {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: black;
            width: 100%;
            height: 100%;
            color: red;
            font-family: 'Sometype Mono', monospace;

            h1 {
                font-size: 50px;
            }
        }

        .anim {
            animation: legAnim infinite 2s ease-in-out;

            @keyframes legAnim {
                0% {
                    transform: scaleX(-1) rotateY(0deg)
                }

                50% {
                    transform: scaleX(-1) rotateY(180deg)
                }

                100% {
                    transform: scaleX(-1) rotateY(360deg)
                }
            }
        }
    }
}

.nightTheme {
    background-color: black;
    color: white;
}

.morningTheme {
    background-color: #CAF0F8;
    color: black;
}

.afternoonTheme {
    background-color: rgb(255, 174, 0);
    color: black;
}

.eveningTheme {
    background-color: #280886;
    color: black;
}

.themeBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    border-radius: 50%;
    border: none;
    background-color: rgba(225, 225, 225, 0);
    padding: 5px 10px;
    padding-top: 5px;
    font-size: 30px;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:500px) {
    body {
        margin: 8px;
    }

    .container {
        width: 300px;

        .timePanel {
            h1 {
                font-size: 40px;
            }
        }
    }
}